/* #region zag */
a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

/* #endregion zag */

/* #region header*/

.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-nav-logo {
  display: block;
  padding: 24px 0;
  margin-right: 76px;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.adr-list {
  display: flex;
  align-items: center;
}
.adr {
  margin-left: auto;
  font-style: normal;
}
.header-nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-nav-logo-style {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-nav-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: #404bbf;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover:after,
.header-nav-link:focus:after,
.header-nav-link.current::after {
  opacity: 1;
}

.header-nav-link:hover {
  color: #404bbf;
}
.header-nav-link:focus {
  color: #404bbf;
}

.adr-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.adr-list-contacts-link {
  display: block;
  padding: 24px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover,
.header-nav-link:focus,
.adr-list-contacts-link:hover,
.adr-list-contacts-link:focus,
.header-nav-link.current {
  color: #404bbf;
  color: #404bbf;
}

/* #endregion header */

/* #region hero */

.hero {
  background-color: #2e2f42;
  max-width: 1440px;
  max-height: 600px;
  padding: 188px 0;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-style {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  min-width: 496px;
  max-height: 120px;
  margin: 0 480px;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin: 48px auto 0;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

/* #endregion hero */

/* #region text */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.description {
  padding: 120px 0;
}
.description-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.description-list-item-title-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.advantages-section {
  padding: 188px 0;
}
.background-list {
  display: flex;
  gap: 24px;
}
.background-item {
  width: calc((100% - 72px) / 4);
}
.style-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
/* #endregion text */

/* #region our team */
.ourteam-container {
  max-width: 1440px;
  max-height: 780px;
  padding: 188px 0;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;

  background-color: #f4f4fd;
  padding: 120px 0;
}

.ourteam-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.ourteam-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.ourteam-list-item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  background-color: #ffffff;
}
.name-prof {
  padding: 32px 0;
}
.ourteam-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
}
.ourteam-list-item-dscr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

/* .container-social {
  width: ;
  margin-left: ;
  margin-right: ;
  padding-left: ;
  padding-right: ; 
} */
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-item {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  fill: #f4f4fd;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

/* #endregion our team */

/* #region Our Portfolio */

.ourportfolio {
  display: flex;
  align-items: center;
}

.ourportfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  align-items: center;
}
.ourportfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.ourportfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  /* column-gap: 24px; */
  row-gap: 48px;
}
.ourportfolio-list-item {
  width: calc((100% - 48) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.ourportfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.ourportfolio-block {
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
  background-color: #4d5ae5;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.ourportfolio-text {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.ourportfolio-list-item:hover .overlay {
  transform: translateY(0);
}

.ourportfolio-list-item-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.ourportfolio-list-item-title-dscr {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion Our Portfolio */

/* #region footer */

.footer {
  max-width: 1440px;
  max-height: 312px;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  margin-right: 120px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #404bbf;
  display: inline-block;
  /* margin-bottom: 16px; */
  margin-right: 80px;
}
.footer-link-span {
  /* font-family: "Raleway", sans-serif; */
  /* font-weight: 700; */
  /* font-size: 18px; */
  /* line-height: 1.17; */
  /* letter-spacing: 0.03em; */
  /* text-transform: uppercase; */
  color: #f4f4fd;
  /* display: inline-block; */
  /* margin-right: auto; */
  /* margin-bottom: 16px; */
}
.footer-dscr {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  /* flex-direction: row; */
  gap: 16px;
  /* justify-content: center; */
}

.footer-social-list-item {
  width: 40px;
  height: 40px;
}

.footer-social-list-link {
  width: 100%;
  height: 100%;

  background-color: #4d5ae5;
  border-radius: 50%;
  /* width: 40px; */
  /* height: 40px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  /* fill: #f4f4fd; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-icon {
  fill: #f4f4fd;
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}

.footer-form-label {
  /* width: 264px;
  height: 40px; */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: transparent;
}
.footer-subscribe-title {
  /* font-weight: 500; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  width: 75px;
  height: 24px;
}

.footer-subs-form {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.footer-input-email {
  padding: unset;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-input-email::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-button-subscribe {
  padding: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  /* padding: 8px 24px; */
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  min-width: 165px;
  min-height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-frame-icon {
  margin-left: 16px;
  fill: #ffffff;
}

.footer-button-subscribe:hover,
.footer-button-subscribe:active {
  background-color: #404bbf;
}

/* #endregion footer */

/*Paragraf style*/

.style-paragraf {
  margin-left: 80px;
}
.paragraf-style {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/*Style form*/

.style-form {
  display: flex;
  gap: 24px;
}

/*Style label*/

/*Input style*/

.input-style {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

::placeholder {
  color: #ffffff;
}

/*Style button*/

.style-form-bt {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

/*Svg Style*/

.style-bt-svg {
  margin-left: 16px;
}

/*Style window*/

.style-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Style modal-p*/

/*Style modal-window*/

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

/*Style modal-bt*/

.style-modal-bt {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.style-modal-bt:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.style-modal-bt:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.style-modal-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Style window-p*/

.style-window-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

/*Style form-div*/

.style-form-div {
  margin-bottom: 8px;
}

/*Style label-form*/

.style-label-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

/*Style input-div*/

.style-input-div {
  position: relative;
}

.style-div-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.style-div-input:focus {
  border-color: #4d5ae5;
}

/*Style svg-div*/

.style-svg-div {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.style-svg-div:focus {
  fill: #4d5ae5;
}

/*Style 4 form-div*/

.style-div-form {
  margin-bottom: 16px;
}

/*Style textarea-label*/

.style-textarea-label {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.style-textarea-label:focus {
  border-color: #4d5ae5;
}

/*Style div-label*/

.style-form-label {
  margin-bottom: 24px;
}

/*Style input*/

/*Style label-div*/

.style-label-div {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  user-select: none;
}

/*Style span*/

.style-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.style-svg-span {
  border: none;
  fill: #f4f4fd;
}

.style-a-label {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

/*Style bt-div*/

.style-bt-div {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .style-label-div .style-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/* зміни кольору іконки при кліку на input в Email*/

.style-div-input:focus + .style-svg-div,
.style-div-input:hover + .style-svg-div {
  fill: #4d5ae5;
}

.style-div-input:focus,
.style-div-input:hover {
  fill: #4d5ae5;
}
